.backdrop {
  border-radius: 30px;
  background-color: #f0eff4;
  padding: 24px 16px;
  width: 343px;
  margin: 0 auto;
}

.container {
  width: 100%;
  max-width: 1440px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  padding-bottom: 16px;
  margin: 0 auto;
  gap: 16px;
}

.header {
  font-weight: 700;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0.01em;
  color: #323f47;
  padding-top: 50px;
  text-align: center;
}

.message {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: 0.01em;
  color: #2f2f2f;
  padding-top: 10px;
  text-align: center;
}

.actions {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  color: rgba(47, 47, 47, 0.5);
  padding-top: 16px;
  text-align: center;
  list-style: none;
}

.link {
  font-weight: 700;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #2f2f2f;
  padding-left: 3px;
  text-decoration: none;
}

@media (min-width: 768px) {
  .backdrop {
    padding: 32px;
    width: 704px;
  }

  .header {
    font-size: 36px;
    line-height: 106%;
    padding-top: 100px;
  }

  .message {
    font-size: 14px;
    padding-top: 20px;
  }

  .actions {
    font-size: 16px;
    line-height: 150%;
    padding-top: 50px;
  }
}

@media (min-width: 1440px) {
  .backdrop {
    width: 688px;
    height: 736px;
    margin: 0;
    flex-shrink: 0;
  }

  .container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 32px;
  }

  .header {
    padding-top: 250px;
  }
}
