.backdrop {
  border-radius: 30px;
  background-color: #f0eff4;
  padding-left: 16px;
  padding-top: 24px;
  padding-bottom: 24px;
  width: 343px;
  margin: 0 auto;
}

.container {
  width: 100%;
  max-width: 1440px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  padding-bottom: 16px;
  margin: 0 auto;
  gap: 16px;
}

@media (min-width: 768px) {
  .backdrop {
    padding: 32px;
    width: 704px;
  }
}

@media (min-width: 1440px) {
  .backdrop {
    width: 688px;
    height: 736px;
    margin: 0;
  }

  .container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 32px;
  }
}
