.backdrop {
  border-radius: 30px;
  background: #f0eff4;
  padding: 24px 16px;
  width: 343px;
  margin: 0 auto;
}

.wrapper {
  width: 100%;
}

.layout {
  display: block;
}

.content {
  margin-top: 16px;
}

@media (min-width: 768px) {
  .backdrop {
    padding-left: 32px;
    padding-right: 32px;
    width: 704px;
  }
}

/* @media (min-width: 1440px) {
 .layout {
    display: flex;
    gap: 32px;
  }

  .content {
    flex: 1;
    background: #ffffff;
    border-radius: 30px;
    padding: 24px;
    min-height: 80vh;
  }
} */

@media (min-width: 1440px) {

  .backdrop {
    width: 100%;
    height: auto;
  }

  .layout {
    display: grid;
    grid-template-columns: 200px 1fr; 
    gap: 32px;
    margin-top: 24px;
  }

  .content {
    background: #ffffff;
    border-radius: 30px;
    padding: 24px;
    /* min-height: 80vh; */
    margin-top: 0;
  }
}