.invoice {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  margin-top: 24px;
  border-radius: 15px;
  overflow: hidden;
  font-size: 12px;
  color: #2f2f2f;
  box-shadow: 0 2px 6px rgba(47, 47, 47, 0.1);
  background-color: #fff;
  padding: 8px;
}

.invoiceHeader {
  font-weight: 700;
  font-size: 20px;
  line-height: 129%;
  letter-spacing: 0.01em;
  border-bottom: 1px solid rgba(47, 47, 47, 0.2);
}

.table {
  width: 295px;
  margin-top: 10px;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid #ccc;
  padding: 2px;
  text-align: left;
}

.total {
  margin-top: 20px;
  font-size: 16px;
}

.invoiceListContainer {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (min-width: 768px) {
  .invoice {
    font-size: 16px;
    padding: 24px;
  }

  .invoiceHeader {
    font-size: 24px;
  }

  .table {
    width: 592px;
    margin-top: 15px;
  }

  .table th,
  .table td {
    padding: 6px;
  }

  .total {
    font-size: 18px;
  }

  .invoiceListContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
  }
}

@media (min-width: 1440px) {
  .invoice {
    font-size: 20px;
    padding: 28px;
  }

  .invoiceHeader {
    font-size: 28px;
  }

  .table {
    width: 1256px;
    margin-top: 20px;
  }

  .table th,
  .table td {
    padding: 10px;
    text-align: left;
  }

  .total {
    font-size: 24px;
  }
}
